<mat-toolbar color="primary" style="min-height:70px">
  <button mat-icon-button color="white" (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="news-headline">News Headlines</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>


<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>


<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" [mode]="mode.value || 'push'">
    <button mat-icon-button class="close-icon" (click)="sidenav.close()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let source of (mSources$ | async)?.sources"
        (click)="searchArticles(source.id); sidenav.close()">
        <span class="source-name"> {{ source.name }}</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-5" *ngFor="let article of (mArticles$ | async)?.articles; index as i">
        <mat-card appearance="outlined" class="example-card">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{
            'background-image':
              'url(../assets/images/' + article.source.id + '.png)'
          }" class="example-header-image"></div>
            <mat-card-title class="title">{{ article.title }}</mat-card-title>
            <mat-card-subtitle>{{ article.source.name }}</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" />
          <mat-card-content>
            <p>
              {{ article.description }}
            </p>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-button color="white"><mat-icon>share</mat-icon> Share</button>
            <a mat-button color="white" href="{{ article.url }}" target="_blank"><mat-icon>visibility</mat-icon>
              More</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</mat-sidenav-container>